@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
:root {
  --primary-color: #c62827;
  --secondary-color: #101828;
  --secondary-color-light: #8b0836;
  --body-color: #4a5565;
}

body {
  font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
}
@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-primary-light: var(--primary-color-light);
  --color-secondary-light: var(--secondary-color-light);
  --color-text: var(--body-color);
  --font-inter: 'Inter', sans-serif;
}

@layer components {
  .btn-primary {
    @apply bg-secondary hover:bg-secondary-light text-white px-6 py-3 rounded-lg font-medium transition-colors duration-200;
  }

  .btn-secondary {
    @apply border-2 border-primary text-primary hover:bg-primary hover:text-white px-6 py-3 rounded-lg font-medium transition-all duration-200;
  }
}
p {
  color: var(--body-color);
}
label {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(249, 249, 249);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Remove time input spinner & icon */
input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Optional: remove clear button (for input[type="search"]) */
input[type='time']::-webkit-clear-button {
  display: none;
}

._container {
  max-width: 1400px !important;
  padding: 0 10px;
  margin: auto;
}

@media (max-width: 650px) {
  ._container {
    width: 100%;
    padding: 0 10px;
    margin: auto;
  }
}
@keyframes slideOverlay {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-overlay-slide {
  animation: slideOverlay 1s ease-out forwards;
}
